
.impact-none {
    border-left: 6px solid #7f7f7f;
    background-color: #f4f1f1;
}

.impact-minor {
    border-left: 6px solid #edea1e;
    background-color: #f7f4ad;
}

.impact-major {
    border-left: 6px solid #e09128;
    background-color: #f7e7c8;
} 

.impact-critical {
    border-left: 6px solid #980c05;
    background-color: #f5dada;
}

