{{define "shared_subscribe_modal"}}
<dialog :open="subs_modal_open">
    <article>
        <header>
            <button @click="subs_modal_open = !subs_modal_open" aria-label="Close" rel="prev"></button>
            <p>
                <strong>Subscribe to updates!</strong>
            </p>
        </header>
        <ul class="no-bullets">
            <li>
                <img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/prometheus.svg" />
                <a href="{{.URLPrefix}}/{{.PrometheusMetricsPath}}">Prometheus metrics</a>
            </li>
            <li>
                <img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@v13/icons/rss.svg" />
                <a href="{{.URLPrefix}}/{{.AtomHistoryFeedPath}}">Atom feed</a>
            </li>
        </ul>
    </article>
</dialog>
{{ end }}