{{define "page_index"}}
<!DOCTYPE html>
<html lang="en">

{{template "shared_head" .}}

<body>
    
    <!-- Navbar -->
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl" href="{{ .BrandURL }}">{{ .BrandTitle }}</a>
        </div>

        <div class="flex-none justify-center">
            <a class="btn btn-ghost text-lg">
                <img alt="Logo" src="{{ .LogoURL }}" class="w-4">
            </a>
        </div>

        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Status</a></li>
            </ul>
        </div>
    </div>

    <img src="{{ .BannerImageURL }}"> </img>

    <div class="flex justify-center">
        <div class="flex flex-col items-center text-center gap-6 max-w-xl">
            {{template "component_system_statuses" .}}
        </div>
    </div>

    {{template "shared_footer" .}}
</body>

</html>
{{end}}