{{define "page_index"}}
<!DOCTYPE html>
<html lang="en">

{{template "shared_head" .}}

<body>
    <div class="wrapper">
        <h1> <a href="{{.BrandURL}}">{{.BrandTitle}}</a> status</h1>
        <!-- Status -->
        <section>
            {{ if .AllOK}}
                <div class="box ok">
                    <strong>All systems ok</strong>
                </div>
            {{ else }}
                <h2>Ongoing incidents</h2>
                {{ range .OngoingIRs }}
                    <div class="box impact-{{.Impact}}">
                        <h3><a href="{{ .URL }}"> {{ .Name }}</a></h3>
                        <div>{{ .LatestUpdate }}</div>
                        <br>
                        <small>Latest update at {{ .TS | date "Jan _2, 15:04" }}</small>
                    </div>
                {{ end }}
            {{ end }}
        </section>
        
        <!-- Systems -->
        <section>
            <h2>Current systems status</h2>

            {{ range .Systems }}
                {{ if .OK}}
                    <div class="box ok" title="{{ .Description }}">
                        <strong>{{ .Name }}</strong> OK
                    </div>
                {{ else }}
                    <div class="box critical" title="{{ .Description }}">
                        <strong>{{ .Name }}</strong> Degraded
                    </div>
                {{ end }}
            {{ end }}
        </section>

        <section>
            <a href="{{ .HistoryURL}}">Incident history</a>
        </section>
    </div>
    {{template "shared_footer" .}}
</body>

</html>
{{end}}